#detail-content-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#detail-content-upper{
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
}
#detail-content-lower{
    width: 100%;
}